[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
pyyaml = "*"

[dev-packages]
flake8 = "*"
ansidocs-mikemorency = {editable = true, path = "."}

[requires]
python_version = "3.9"
